@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #3c2ac1;
  --color-secondary: #0fbb54;
  --color-light: #fff6fa;
  --color-border: #eeeeee;
  --color-success: #0e9a5f;
  --color-warning: #fdae1c;
  --color-danger: #ff4040;
  --color-info: #1c8bef;
  --color-title: #1f1515;
  --color-body: #4f4f4f;
  --color-black: #000;
  --color-dark: #364153;
  --color-white: #fff;

  --font-heading: "Noto Sans Bengali", sans-serif;
  --font-body: "Noto Sans Bengali", sans-serif;
  --font-sans: "Noto Sans Bengali", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --container: 32rem;
}

@layer base {
  dialog {
    margin: auto;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
  }

  .scrollbar:hover::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar:hover::-webkit-scrollbar-track {
    background: linear-gradient(0deg,
        rgb(220, 200, 246) 0%,
        rgb(216, 216, 255) 100%);
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  /* Base badge */
  .badge {
    @apply relative inline-flex items-center pl-5 pr-2 py-1 rounded-full text-xs font-medium cursor-pointer;
  }

  .badge::before {
    content: "";
    @apply w-1 h-1 rounded-full absolute;
    left: 0.5rem;
    /* dot position */
    top: 50%;
    transform: translateY(-50%);
  }

  .badge__primary {
    @apply bg-primary/10 text-primary;
  }

  .badge__primary::before {
    @apply bg-primary;
  }

  .badge__success {
    @apply bg-green-100 text-green-700;
  }

  .badge__success::before {
    @apply bg-green-500;
  }

  .badge__info {
    @apply bg-blue-100 text-blue-700;
  }

  .badge__info::before {
    @apply bg-blue-500;
  }

  .badge__warning {
    @apply bg-yellow-100 text-yellow-800;
  }

  .badge__warning::before {
    @apply bg-yellow-500;
  }

  .badge__danger {
    @apply bg-red-100 text-red-700;
  }

  .badge__danger::before {
    @apply bg-red-500;
  }

  table {
    @apply min-w-full;
  }

  table {
    @apply min-w-max w-full divide-y divide-gray-200;
  }

  thead th {
    @apply px-4 py-2 text-start text-sm whitespace-nowrap font-medium text-title capitalize;
  }

  tbody {
    @apply divide-y divide-border;
  }

  tbody tr {
    @apply odd:bg-white even:bg-gray-100;
  }

  tbody td {
    @apply px-4 py-2 whitespace-nowrap text-sm font-normal text-body;
  }

  .nav__item {
    @apply flex items-center px-4 py-2 rounded-lg text-gray-700 hover:text-primary hover:bg-primary/10 transition-colors duration-200;
  }

  .active {
    @apply bg-primary text-white hover:text-white hover:bg-primary;
  }

  .bg-gradient {
    @apply bg-linear-to-r from-cyan-100 to-blue-50;
  }

  .container {
    @apply px-10;
  }

  .form__group {
    @apply relative block mb-2;
  }

  .form__label {
    @apply block text-sm text-dark mb-2 capitalize font-medium;
  }

  .form__control {
    @apply w-full px-4 py-2 rounded border border-border text-sm focus:border-primary focus:outline-none focus:outline-primary disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 disabled:shadow-none;
  }

  .form__file {
    @apply block w-full border border-border text-sm text-gray-700 file:mr-4 file:py-2 file:px-4 file:cursor-pointer file:border-0 file:text-sm file:font-semibold file:bg-gray-100 file:text-primary hover:file:bg-gray-200 transition;
  }

  .label__checkbox {
    @apply has-checked:bg-indigo-50 has-checked:text-indigo-900 has-checked:ring-indigo-200;
  }

  .radio__input {
    @apply checked:border-indigo-500;
  }

  .form__select {
    @apply block px-4 py-2 border border-gray-300 rounded bg-white text-sm text-gray-700 focus:outline-none focus:ring-0 focus:border-primary transition;
  }

  .base__button {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-primary rounded hover:bg-primary focus:outline-none transition whitespace-nowrap disabled:opacity-50;
  }

  .base__outline {
    @apply bg-white border text-primary py-1.5 px-4 rounded;
  }

  .suffix__icon i {
    @apply absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500 pointer-events-none;
  }

  .prefix__icon i {
    @apply absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500 pointer-events-none;
  }

  .prefix__icon .form__control {
    @apply pl-10;
  }

  .suffix__icon .form__control {
    @apply pr-10;
  }

  .card {
    @apply bg-white rounded-xl;
  }

  .card__header {
    @apply px-4 py-3 border-b border-gray-200 flex items-center justify-between;
  }

  .card__title {
    @apply text-lg font-semibold text-gray-800;
  }

  .card__subtitle {
    @apply text-gray-500;
  }

  .card__link {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-dark rounded hover:opacity-90 focus:outline-none transition whitespace-nowrap disabled:opacity-50;
  }

  .card__body {
    @apply p-6 text-gray-700;
  }

  .link__active {
    @apply text-primary;
  }

  .link__exact__active {
    @apply text-primary border-l-3 border-primary pl-2 bg-gray-100;
  }

  .shine__img__wrapper {
    @apply relative overflow-hidden block;
  }

  .shine__img {
    @apply w-full h-full object-cover transition-transform duration-400 ease-in-out block;
  }

  .shine__img__wrapper:hover .shine__img {
    @apply scale-105;
  }

  /* Shine effect pseudo-element */
  .shine__img__wrapper::before {
    content: "";
    @apply absolute top-0 h-full;
    left: -75%;
    width: 50%;
    background: linear-gradient(120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
    z-index: 10;
    pointer-events: none;
  }

  /* Animate on hover */
  .shine__img__wrapper:hover::before {
    animation: shine 1s ease-in-out;
  }

  @keyframes shine {
    0% {
      left: -75%;
    }

    100% {
      left: 125%;
    }
  }
}